.vs/
Library/
Temp/
Recordings/
*.csproj
*.sln
Assets/LuaScripts/.idea/
ServerData/

Assets/.idea
Assets/Scripts/GameLaunch/.idea
Assets/Scripts/XLua/.idea
obj
Assets/Scripts/Common/UIExtens/.idea
Logs
